In [1]:
import pandas as pd
from pathlib import Path

In [2]:
schools_data = Path("PyCitySchools\Resources\schools_complete.csv")
students_data = Path("PyCitySchools\Resources\students_complete.csv")

schools = pd.read_csv( schools_data)
students = pd.read_csv(students_data)

complete_data = pd.merge(schools, students, how = "left", on = ["school_name", "school_name"])
complete_data.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [3]:
# school_count = complete_data["school_name"].unique()
# print(school_count)
#vs
school_count = complete_data["school_name"].unique()
unique_schools = pd.DataFrame(school_count, columns=["school_name"]) # oh this one displays it with pandas instead of a print statement
unique_schools

              school_name
0       Huang High School
1    Figueroa High School
2     Shelton High School
3   Hernandez High School
4     Griffin High School
5      Wilson High School
6     Cabrera High School
7      Bailey High School
8      Holden High School
9        Pena High School
10     Wright High School
11  Rodriguez High School
12    Johnson High School
13       Ford High School
14     Thomas High School

In [4]:
student_count = complete_data["Student ID"].unique()
unique_students = pd.DataFrame(student_count, columns=["Student ID"])
unique_students

       Student ID
0               0
1               1
2               2
3               3
4               4
...           ...
39165       39165
39166       39166
39167       39167
39168       39168
39169       39169

[39170 rows x 1 columns]

In [5]:
# total_budget = sum of all the columns of bugdget?
total_budget = complete_data["budget"].sum()
total_budget

82932329558

In [6]:
# Calculate the average (mean) reading score
average_reading_score = complete_data["reading_score"].mean()
average_reading_score

81.87784018381414

In [7]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
student_count = complete_data["student_name"].count()
passing_math_count = complete_data[complete_data["math_score"] >= 70].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [8]:
# Use the provided code to calculate the passing rates

per_school_counts = student_count
school_students_passing_math = complete_data[complete_data["math_score"] >= 70].groupby("school_name").size()
school_students_passing_reading = complete_data[complete_data["reading_score"] >= 70].groupby("school_name").size()
#school_students_passing_math_and_reading = complete_data[complete_data["math_score", "reading_score"] >= 70].groupby("school_name").size()
#vs
school_students_passing_math_and_reading = complete_data[(complete_data["math_score"] >= 70) & (complete_data["reading_score"] >= 70)].groupby("school_name").size() # Needed to use & operator for multiple conditions


per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

per_school_passing_math
per_school_passing_reading
overall_passing_rate
# wiat how should I show all this info though? - show in next coding block by making new dataframe

school_name
Bailey High School       6.941537
Cabrera High School      4.332397
Figueroa High School     4.005617
Ford High School         3.796273
Griffin High School      3.395456
Hernandez High School    6.333929
Holden High School       0.972683
Huang High School        3.985193
Johnson High School      6.507531
Pena High School         2.223641
Rodriguez High School    5.409752
Shelton High School      4.041358
Thomas High School       3.796273
Wilson High School       5.279551
Wright High School       4.151136
dtype: float64

In [9]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame( {"Total Students" : per_school_counts, "Total Budget" : total_budget})

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

ValueError: If using all scalar values, you must pass an index

In [ ]:
school_types = complete_data["type"].unique()
number_school_types = len(school_types)
number_school_types

AttributeError: 'int' object has no attribute 'head'

In [23]:
# Calculate the total student count per school
per_school_counts = student_count

In [22]:
# Calculate the total school budget and per capita spending per school
per_school_budget = complete_data.groupby(school_count, total_budget)
per_school_capita = 

per_school_budget

SyntaxError: invalid syntax (1960955652.py, line 3)

In [21]:
# Calculate the average test scores per school
per_school_math = complete_data.groupby(school_count,school_students_passing_math ) / school_count
per_school_reading = complete_data.groupby(school_count,average_reading_score) /school_count

TypeError: unhashable type: 'Series'

In [20]:
# Calculate the number of students per school with math scores of 70 or higher
students_passing_math = complete_data[complete_data["math_score"] >= 70]
school_students_passing_math =

SyntaxError: invalid syntax (3511110945.py, line 3)

In [16]:
# Calculate the number of students per school with reading scores of 70 or higher
students_passing_reading = students_passing_math = complete_data[complete_data["Passing Reading"] >= 70]
school_students_passing_reading =

SyntaxError: invalid syntax (3308468907.py, line 3)

In [17]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

NameError: name 'school_data_complete' is not defined

In [18]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

In [19]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_student_budget = total_budget / per_school_counts
per_school_summary = pd.DataFrame({"Passing Math" : per_school_passing_math, " Passing Reading" : per_school_passing_reading,
                                    "Overall Passing Rate" : overall_passing_rate, "Total School Budget" : total_budget, 
                                    "Per Student Budget" : per_student_budget })

# Formatting - where does this get applied? do I need to implement per school summary in the datframe above? - looks like it since it is indexing those 
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

,Passing Math,Passing Reading,Overall Passing Rate,Total School Budget,Per Student Budget
school_name,,,,,
Bailey High School,8.470768,10.408476,6.941537,"$82,932,329,558.00","$2,117,240.99"
Cabrera High School,4.465152,4.603013,4.332397,"$82,932,329,558.00","$2,117,240.99"
Figueroa High School,4.968088,6.078632,4.005617,"$82,932,329,558.00","$2,117,240.99"
Ford High School,4.776615,5.545060,3.796273,"$82,932,329,558.00","$2,117,240.99"
Griffin High School,3.500128,3.640541,3.395456,"$82,932,329,558.00","$2,117,240.99"
Hernandez High School,7.898902,9.568547,6.333929,"$82,932,329,558.00","$2,117,240.99"
Holden High School,1.008425,1.049272,0.972683,"$82,932,329,558.00","$2,117,240.99"
Huang High School,4.891499,6.055655,3.985193,"$82,932,329,558.00","$2,117,240.99"
Johnson High School,8.029104,9.872351,6.507531,"$82,932,329,558.00","$2,117,240.99"
Pena High School,2.323207,2.356395,2.223641,"$82,932,329,558.00","$2,117,240.99"
Rodriguez High School,6.775594,8.189941,5.409752,"$82,932,329,558.00","$2,117,240.99"
Shelton High School,4.220066,4.309420,4.041358,"$82,932,329,558.00","$2,117,240.99"
Thomas High School,3.893286,4.061782,3.796273,"$82,932,329,558.00","$2,117,240.99"
Wilson High School,5.471024,5.626755,5.279551,"$82,932,329,558.00","$2,117,240.99"
Wright High School,4.288997,4.439622,4.151136,"$82,932,329,558.00","$2,117,240.99"

In [13]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values(["Overall Passing Rate"], ascending= False)
top_schools.head(5)

,Passing Math,Passing Reading,Overall Passing Rate,Total School Budget,Per Student Budget
school_name,,,,,
Bailey High School,8.470768,10.408476,6.941537,"$82,932,329,558.00","$2,117,240.99"
Johnson High School,8.029104,9.872351,6.507531,"$82,932,329,558.00","$2,117,240.99"
Hernandez High School,7.898902,9.568547,6.333929,"$82,932,329,558.00","$2,117,240.99"
Rodriguez High School,6.775594,8.189941,5.409752,"$82,932,329,558.00","$2,117,240.99"
Wilson High School,5.471024,5.626755,5.279551,"$82,932,329,558.00","$2,117,240.99"

In [14]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
top_schools = per_school_summary.sort_values(["Overall Passing Rate"], ascending= True)
top_schools.head(5)

,Passing Math,Passing Reading,Overall Passing Rate,Total School Budget,Per Student Budget
school_name,,,,,
Holden High School,1.008425,1.049272,0.972683,"$82,932,329,558.00","$2,117,240.99"
Pena High School,2.323207,2.356395,2.223641,"$82,932,329,558.00","$2,117,240.99"
Griffin High School,3.500128,3.640541,3.395456,"$82,932,329,558.00","$2,117,240.99"
Ford High School,4.776615,5.545060,3.796273,"$82,932,329,558.00","$2,117,240.99"
Thomas High School,3.893286,4.061782,3.796273,"$82,932,329,558.00","$2,117,240.99"

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = 
tenth_grader_math_scores = 
eleventh_grader_math_scores = 
twelfth_grader_math_scores = 

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = 

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

In [24]:
# Use the code provided to separate the data by grade
ninth_graders = complete_data[(complete_data["grade"] == "9th")]
tenth_graders = complete_data[(complete_data["grade"] == "10th")]
eleventh_graders = complete_data[(complete_data["grade"] == "11th")]
twelfth_graders = complete_data[(complete_data["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores = ninth_graders.groupby("school_name")["reading_score"].mean()
tenth_grader_reading_scores = tenth_graders.groupby("school_name")["reading_score"].mean()
eleventh_grader_reading_scores = eleventh_graders.groupby("school_name")["reading_score"].mean()
twelfth_grader_reading_scores = twelfth_graders.groupby("school_name")["reading_score"].mean()

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({"ninth grade" : ninth_grade_reading_scores, "tenth grade" : tenth_grader_reading_scores,
                                        "eleventh grader" : eleventh_grader_reading_scores, "twelfth grader" : twelfth_grader_reading_scores})

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

KeyError: "None of [Index(['9th', '10th', '11th', '12th'], dtype='object')] are in the [columns]"

In [26]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [25]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

In [29]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df['Per Student Budget'],spending_bins, labels=labels)
school_spending_df

TypeError: '<' not supported between instances of 'int' and 'str'

In [30]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

KeyError: 'Spending Ranges (Per Student)'

In [ ]:
# Assemble into DataFrame
spending_summary = 

# Display results
spending_summary

In [ ]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [31]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] = pd.cut(per_school_summary["Total Students"], size_bins, labels=labels)
per_school_summary

KeyError: 'Total Students'

In [ ]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

In [ ]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = pd.DataFrame({"small": small, "medium" : medium, "large" : large})

# Display results
size_summary

In [32]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

KeyError: 'School Type'

In [ ]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = pd.DataFrame("Avg math score" : average_math_score_by_type, "Avg reading score" : average_reading_score, 
                            "Avg percent math pass" : average_percent_passing_math_by_type, "Avg percent read pass" :verage_percent_passing_reading_by_type
                             "Avg percent overall" : average_percent_overall_passing_by_type)

# Display results
type_summary